include ../includes/navBar.pug

block content
    section
        - const aaa1=[ {id:1, titulli:"Beni ecen nuk vetem", autori:"Fan Noli", img:"/img/img1.jpg", zhanri:"femij", pershkrimi:"asddddddddddd dddddd dddddddd ddddddddd dddddd dddddddd dddddddd ddddddddd dddddd ddd"}, {id:2, titulli:"Beni nashta ecen  vetem", autori:"Fan Noli", img:"/img/img1.jpg", zhanri:"femij"},{id:3, titulli:"Beni munde te ecen vetem", autori:"Fan Noli", img:"/img/img1.jpg", zhanri:"komedi"},{id:4, titulli:"Beni nuk ecen vetem", autori:"Fan Noli", img:"/img/img1.jpg", zhanri:"shkence"},{id:5, titulli:"Beni nuk eshte fukara", autori:"Fan Noli", img:"/img/img1.jpg", zhanri:"romantik"},{id:6, titulli:"Beni ecen vetem", autori:"Fan Noli", img:"/img/img1.jpg", zhanri:"romantik"} ];

        .container-100(style="min-height:75%;")
            .row.m-0.justify-content-center
                .col-xl-2.col-sm-12.text-white.pt-5
                    ul.list-group.pt-5
                        li.list-group-item(class=(active==="librat" ? "active":""))
                            a.text-decoration-none(href='#')
                                h4.justify-content-center.p-2.ms-3 Librat
                        li.list-group-item(class=(active==="shitjet" ? "active":""))
                            a.text-decoration-none(href='#')
                                h4.justify-content-center.p-2.ms-3 Shitjet
                .col-xl-9.col-sm-12.col-md-11.text-center
                    if active === "librat"
                    include crudiPerLibra.pug
                    else if active === "shitjet"
                    include libratEBlere.pug

include ../includes/footer.pug

script.
    document.querySelector('#librat-link').addEventListener('click', function(event) {
        event.preventDefault();
        document.querySelector('#content').innerHTML = 'Content for Librat goes here.';
    });
