include ../includes/navBar.pug
    p hi
include ../includes/footer.pug

//pjesen e tabeles se rendijes se dhenave e copjova nga koleksioniLibra.pug
//pjesen e shtimit te nje ndertese e copjova nga crudiPerLibra.pug