include ../includes/navBar.pug
    block content
        section
            .div(style="min-height:75%;").container-100
                .row.m-0.d-flex.justify-content-center
                    .col-xl-6.col-sm-12.justify-content-center.align-items-center.p-3.m-3
                        table.table 
                            thead.thead-dark
                                tr
                                    th Id
                                    th Emri212261491 
                                    th DataPT
                            tbody
                                each n in ashencori
                                    - console.log(n)
                                    tr 
                                        td= n.id
                                        td= n.Emertimi212261491
                                        td= n.NderteSaID
                                        td 
                                            a(href="/ashencori/"+n.id).btn.btn-secondary Edito
                                        td 
                                            button.btn.btn-danger(onclick="fshijAshencorin("+n.id+")") Fshije
                .bg-secondary.p-5.pb-1.pt-1(style="border-radius: 10px; margin-top: 85px !important;").m-3.mb-5.mt-5
                    h1.m-4.text-center.mt-4 Shto Ashencor
                    .justify-content-center
                        form(method="POST" action="/ashencori")
                            table.table
                                tbody
                                    tr
                                        td
                                            .form-group
                                                label(for="emrtimi212261491") Emertimi
                                                    input#isbn.form-control(name="emertimi212261491", type="text")
                                        td
                                            .form-group
                                                label(for="nderteSaID") Ndertesa ID
                                                    input#titulli.form-control(name="nderteSaID", type="text")
                                        tr.m-1(style ="border: 1px white !important")
                                            td(colspan="4", style =" border-bottom: none;")
                                                .form-group
                                                    button.btn.btn-primary.m-2(type="submit") Shto Ashencor
                                        .alert-danger.m-1(role="alert", style="display:"+errorActive+"; border-radius: 7px;",)= err
    include ../includes/footer.pug

//i kopjova nga ndertesaView