include ../includes/navBar.pug
    block head 
        link(rel='stylesheet', href='/css/navBar.css')
    block content
        section(style="margin-bottom : 400 px !important;")
            .container(style="border-radius: 20px; background-color :#e2e8f0; !important;").p-5.mt-5.text-center.mb-5
                .row.mt-5.mb-5.justify-content-center.text-center(style="background-color :#e2e8f0; !important")
                    .col-xl-6.mt-4.mb-3.text-center
                        form(action='#', method='POST')
                            h4.m-3.bg-light.p-4(style="border-radius: 5px;") ID 
                                br
                                input(type="text", name='id', value=ndertesa.ID, readonly)
                                - console.log(ndertesa)
                            h4.m-3.bg-light.p-4(style="border-radius: 5px;") Titulli 
                                br
                                input(type="text", name='emri212261491', value=ndertesa.Emri212261491, placeholder=ndertesa.Emri212261491)
                            h4.m-3.bg-light.p-4(style="border-radius: 5px;") Titulli 
                                br
                                input(type="date", name='dataPT', value=ndertesa.DataPT)
                            p.m-3.bg-light.p-3(style="border-radius: 5px;")
                                input(type="submit", value='Edito').btn.btn-primary
    include ../includes/footer.pug