include ../../includes/navBar.pug
    block head 
        link(rel='stylesheet', href='/css/navBar.css')
    block content
        section(style="margin-bottom : 400 px !important;")
            .container(style="border-radius: 20px; background-color :#e2e8f0; !important;").p-5.mt-5.text-center.mb-5
                .row.mt-5.mb-5.justify-content-center.text-center(style="background-color :#e2e8f0; !important")
                    .col-xl-6.mt-4.mb-3.text-center
                        form(action='#', method='POST')
                            h4.m-3.bg-light.p-4(style="border-radius: 5px;") playerId
                                br
                                input(type="text", name='id', value=objekti1.playerId, readonly)
                            h4.m-3.bg-light.p-4(style="border-radius: 5px;") title
                                br
                                input(type="text", name='name', value=objekti1.name, placeholder=objekti1.name)
                            p.m-3.bg-light.p-3(style="border-radius: 5px;")
                                input(type="submit", value='Edito').btn.btn-primary
include ../../includes/footer.pug
