include ../../includes/navBar.pug

section
    .div(style="min-height:75%;").container-100
        .row.m-0.d-flex.justify-content-center
            .col-xl-6.col-sm-12.justify-content-center.align-items-center.p-3.m-3
                table.table 
                    thead.thead-dark
                        tr
                            th teamid
                            th team
                    tbody
                        each o1 in objekti1
                            tr 
                                td= o1.teamId
                                td= o1.name
                                td 
                                    a(href="/team/"+o1.teamId).btn.btn-secondary Edito

        .bg-secondary.p-5.pb-1.pt-1(style="border-radius: 10px; margin-top: 85px !important;").m-3.mb-5.mt-5
            h1.m-4.text-center.mt-4 Shto 
                .justify-content-center
                    form(method="POST" action="/team")
                        table.table
                            tbody
                                tr
                                    td
                                        .form-group
                                            label(for="name") Name
                                                input#isbn.form-control(name="name", type="text")
                                    tr.m-1(style ="border: 1px white !important")
                                        td(colspan="4", style =" border-bottom: none;")
                                            .form-group
                                                button.btn.btn-primary.m-2(type="submit") Shto

include ../../includes/footer.pug